#site-footer {
  padding: 0.2rem;
  padding-bottom: 1rem;

  font-size: 0.6rem;
  font-style: italic;
  text-align: center;

  p {
    max-width: none;
    margin-bottom: 0.2rem;
    line-height: 0.7rem;
  }
}

.site-footer-links {
  display: flex;
  justify-content: center;

  list-style-type: none;
  margin: 0;
  margin-top: 0.4rem;
  font-style: normal;
}

.site-footer-link {
  margin: 0;

  & + & {
    margin-left: 1rem;
  }
}
